10 3 * * * /bin/bash /home/ec/jobs/jobs/LT-ETIENNE-PHOTOS-CATALOGUES.sh backup
15 5 * * * /bin/bash /home/ec/jobs/jobs/LT-ETIENNE-PHOTOS-PHOTOS.sh backup

#10 5 * * * /bin/bash /home/ec/jobs/jobs/TEST_BACKUP.sh backup


