#10,30,50 * * * * /bin/bash /jobs-git/jobs/JOB_1 backup
#45 2 * * * /bin/bash /jobs-git/CALIBRE-KOBO.sh backup
#15 3 * * * /bin/bash /jobs/ICYBOX-Catalogues.sh backup
#30 4 * * * /bin/bash /jobs/ICYBOX-Photos.sh backup

